<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764780183291-prr41tsn20gcbq4c2qstsr100f268i15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764780183291-prr41tsn20gcbq4c2qstsr100f268i15</string>
	<key>API_KEY</key>
	<string>AIzaSyAjaQABiOmYh5lr0AEIxiG6RXKc0PFUucs</string>
	<key>GCM_SENDER_ID</key>
	<string>764780183291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easterlyconsulting.flexitrackr</string>
	<key>PROJECT_ID</key>
	<string>flexitrackr</string>
	<key>STORAGE_BUCKET</key>
	<string>flexitrackr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764780183291:ios:cbe51990d29fd320db7a5e</string>
</dict>
</plist>